<IfModule mod_rewrite.c>
    RewriteEngine On

    # Skip existing files and directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirect all requests to Laravel's front controller
    RewriteRule ^ index.php [L]
</IfModule>
